body{
     background-color:#EAF6F6;
}
.container {
   text-align: center;  
}
h1{
    color:#66BFBF;
}
h3{
    color:#66BFBF;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey; 
    border-width: 5px;
    width: 4%;
}
h1{
    font-family: cursive;
  }
  h3{
    font-family: cursive;
  }
  img{
    background-color: rebeccapurple;
  }
    
  
